.HomeRoot {
    position: relative;
    top: 50px;
}

.HomeLoading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeError {
    color: #ff0000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}