.SurveyUpdaterRoot {
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: row;
}

.SurveyUpdaterLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.SurveyUpdaterError {
    color: #ff0000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SurveyUpdaterLeftColumn {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 50%;
}

.SurveyUpdaterRightColumn {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    min-width: 50%;
}